<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <div class="toolbar__inputs">
      <form [formGroup]="fg">
        <ion-item>
          <ion-label> Start index:</ion-label>
          <ion-input placeholder="Start index point" formControlName="startIndex"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label> End index:</ion-label>
          <ion-input placeholder="End index point" formControlName="endIndex"></ion-input>
        </ion-item>
      </form>
    </div>
    <ion-button class="toolbar__button" color="primary" [disabled]="!fg.valid" (click)="buildPath()">GO</ion-button>
  </ion-toolbar>

</ion-header>
<ion-content>
  <div class="map-wrapper">
    <div class="map">
      <figure id="graph">

      </figure>
    </div>

  </div>
</ion-content>

<ion-tabs>
  <ion-tab-bar [translucent]="true" slot="bottom">
    <ion-tab-button [routerLink]="'/'">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
