.toolbar{
  .toolbar__inputs{}
  .toolbar__button{
    width: 100%;
  }
}
ion-content{
  box-sizing: border-box;

  margin: 0;
  padding: 0;



  .map-wrapper{
    width: 100%;
    height: 100%;
    position: relative;

    .map{
      width: 100%;
      height: 100%;

      position: absolute;

      background: url('../../assets/map-dark.svg') no-repeat fixed #12151e;
      background-size: contain;

      overflow: hidden;
      figure{
        margin: 0;
        width: 100%;
        height: 100%;
        position: relative;
      }
    }
  }


}

